.container2 {
  position: relative;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 80px;
  background-color: #A8D0e6;
}


.intro{
  background: #f76c6c;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  max-width: 100%;
  width: 70%;
  margin: auto;
  color: white;
  display: flex;
  height: 450px;
  transition: 0.5s;
}

.intro .column-img img{
  float: left;
  margin-right: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  width: 320px;
  height: 456px;
  padding: 30px;
}
